
h1{
color:red;
text-align:center;
font-family:verdana;
font-size:400%;
}
p{
text-align:center;
font-family:verdana;
font-size:100%;
}
button{
color:blue
}
div.form
{
display:block;
text-align:center;
}
form{
display:inline-block
margin-left:auto;
margin-right:auto;
text-align:left;
}