<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/styles/bootstrap/css/bootstrap.min.css">
    <title>Create account</title>
</head>
<body>
    <div class="col-md-offset-4">
    <h1>Yummy Recipes</h1>
        <form>
                <div class="form-group">
                        <label for="Create  account">Enter details to create account</label>
                      </div> 
                
                <div class="form-group">
                    <label for="validationServer01">Username</label>   
                    <input type="text"  placeholder="username" >
                  </div>
                  <div class="form-group">
                    <label for="validationServer03">Enter password</label>
                    <input type="password"  placeholder="password" >
                  </div>
                  <div class="form-group">
                    <label for="validationServer03">Confirm password</label>
                    <input type="password"  placeholder="re-type password" required>
                </div>
              
                <button class="btn btn-primary" type="submit">Submit details</button>
              </form>
              <div>
</body>
</html>